<section class="section">
	<div class="columns">
	  <div class="column is-8 is-offset-2">

			<h1 class="title is-1">FAQ page</h1>

			<h1 class="title is-3">1. How does the point system work?</h1>

			<p class="title is-5">Rank difference is <span class="highlight-blue">2 or less</span> (e.g. 1 & 2 or 1 & 3)</p>
			<ul class="faqlist">
				<li>Higher rank wins = <span class="highlight-green">+2 points</span></li>
				<li>Lower rank wins = <span class="highlight-green">+3 points</span></li>
				<li>Higher rank loses = <span class="highlight-red">-2 points</span></li>
				<li>Lower rank loses = <span class="highlight-red">-1 points</span></li>
			</ul>
			<br>

			<p class="title is-5">Rank difference is <span class="highlight-blue">3 or more</span> (e.g. 1 & 4 or 3 & 8)</p>
			<ul>
				<li>Higher rank wins = <span class="highlight-green">+1 points</span></li>
				<li>Lower rank wins = <span class="highlight-green">+5 points</span></li>
				<li>Higher rank loses = <span class="highlight-red">-5 points</span></li>
				<li>Lower rank loses = <span class="highlight-red">-0 points</span></li>
			</ul>
		</div>
	</div>
</section>
