<section class="section">
	<div class="columns">
	  <div class="column is-8 is-offset-2">

			<h1 class="title is-1">FAQ page</h1>

			<h1 class="title is-3">1. How does the point system work?</h1>

			<p class="title is-5">Rank difference is <span class="highlight-blue">2 or less</span> (e.g. 1 & 2 or 1 & 3)</p>
			<ul class="faqlist">
				<li>Higher rank wins = <span class="highlight-green">+2 points</span></li>
				<li>Lower rank wins = <span class="highlight-green">+3 points</span></li>
				<li>Higher rank loses = <span class="highlight-red">-2 points</span></li>
				<li>Lower rank loses = <span class="highlight-red">-1 points</span></li>
			</ul>
			<br>

			<p class="title is-5">Rank difference is <span class="highlight-blue">3 or more</span> (e.g. 1 & 4 or 3 & 8)</p>
			<ul>
				<li>Higher rank wins = <span class="highlight-green">+1 points</span></li>
				<li>Lower rank wins = <span class="highlight-green">+5 points</span></li>
				<li>Higher rank loses = <span class="highlight-red">-5 points</span></li>
				<li>Lower rank loses = <span class="highlight-red">-0 points</span></li>
			</ul>
			<br>
			<h1 class="title is-3">2. How do the games work?</h1>
			<ul class="faqlist">
				<li>Please inform an Admin after completing a match, (Marlon, Binny or Sav)</li>
				<li>All games are best of 5 sets, (first to 3)</li>
				<li>All sets are first to 5 points, (player must win set by 2)</li>
				<li>Player can only win points on own serve.</li>
				<li>To start the match, the lowest rank player serves</li>
				<li>After that, winner of the point maintains service</li>
				<li>Server can serve to any part of the oppostion half, providing they hit from behind the table</li>
				<li>The loser of the previous set serves to start a new set</li>
				<li>If the ball hits the net and goes over on a serve, it is a let</li>
				<li>Three lets in a row is a loss of service</li>
				<li>Players swap ends after each set</li>
				<li>Player of a higher rank must accept a challenge from a lower ranked player, (maximum 1 challenge a day)</li>
				<li>Players must shake hands and congratulate each other on a good game after each match</li>

			</ul>


		</div>
	</div>
</section>
