<section class="section">
	<div class="columns">
	  <div class="column is-8 is-offset-2">

			<h1 class="title is-1">FAQu page</h1>

			<h1 class="title is-4">How does the point system work?</h1>

			<p class="title is-5">Within 2 ranks of each other (e.g. ranks 3 & 5</p>
			<ul>
				<li>Higher rank wins = +2 points</li>
				<li>Lower rank wins = + 3 points</li>
				<li>Higher rank loses = -2 points</li>
				<li>Lower rank loses = -1 points</li>
			</ul>
			<br>
			
			<p class="title is-5">3 of more ranks apart (e.g. 1 and 4)</p>
			<ul>
				<li>Higher rank wins = + 1 points</li>
				<li>Lower rank wins = +5 points</li>
				<li>Higher rank loss = -5 points</li>
				<li>Lower rank loss = -0 points</li>
			</ul>
		</div>
	</div>
</section>	