


<%#= image_tag(asset_path("tt1.png")) %>
<img src="<%= asset_path("cfaponglogo.png" ) %>" class="logo-banner" />

<p><%= link_to "Enter results", new_game_path, class:"button is-primary" %></p>


<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="table-box">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
<!--             <th>Winner</th>
            <th>Score</th>
            <th>Loser</th>
            <th>Score</th> -->
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game|%>
            <tr>
              <th><%= "#{game.winner_name} beat #{game.loser_name} #{game.winner_score} sets to #{game.loser_score}" %></th>
              <!-- <td><%#= game.winner_name %></td>
              <td><%#= game.winner_score %></td>
              <td><%#= game.loser_name %></td>
              <td><%#= game.loser_score %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>







