<section class="section">
	<div class="columns">
	  <div class="column is-8 is-offset-2">

			<h1 class="title is-1">News</h1>

			<h1 class="title is-3">Dynamic Pilgrim Launches</h1>
      <p class="title is-6">Monday 8th of May 2017 </p>

			<p class="title is-5">Dynamic Pilgrim has finally launched! Sign-up and report to Sav, Binny or Marlon when you want to register an official match!</p>
			<p class="title is-5">More exciting updates and features coming shortly!</p>

		</div>
	</div>
</section>
