<img src="<%= asset_path("cfaponglogo.png" ) %>" class="logo-banner" />
<h1 class="title is-1 has-text-centered">Enter game results</h1>

<div class="columns marginTopBottom">
  <div class="column is-8 is-offset-2 game-form-div">
		<%= render 'form', game: @game %>
	</div>
</div>
